PORT=8080
GOOGLE_CLOUD_PROJECT=forge-academy-95f84
HUB_PIPELINE_MODE=inline
HUB_INTEGRATION_SECRET=
HUB_ACADEMY_SERVICE_TOKEN=
HUB_RMS_SERVICE_TOKEN=
HUB_ACADEMY_COMMAND_URL=https://us-central1-forge-academy-95f84.cloudfunctions.net/hubAcademyCommand
HUB_RMS_COMMAND_URL=https://us-central1-rms-dashboard-7562e.cloudfunctions.net/hubRmsCommand
HUB_USE_SECRET_MANAGER=false
